


#weatherWidget {
    visibility: hidden;
   
}
#infoWidget {
    visibility: hidden;
   
}

.input-group {
    width: 50%;
    margin: 3vh auto 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #weatherWidget,
  #infoWidget {
    background-color: rgba(224, 226, 230, 0.5);
  }  

@media (max-width: 767px) {
  body {
    background: url('earth.mp4') no-repeat center center scroll;
    background-size: cover;
  }
}

.modal-content {
    background-color: black;
    color: white !important;
    border: 1px solid white;
}

#info {
    color: white;
}

.row {
    margin-bottom: 2vh;
}

#weatherWidget {
    margin: 0 auto;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

#flagTable, #timeTable {
    width: 50%;
    background-color: rgba(224, 226, 230, 0.5);
    text-align: center;
    margin-top: 2vh;
    vertical-align: top !important;
}

.flagImage {
    width: 40%;
    height: 40%;
  
    margin: 0 auto;
    min-width: 47px!important;
    min-height: 31px!important;
}

td {
    vertical-align: middle !important;
    font-size: 130%;
}

th {
    font-size: 150%;
}

#countryTable {
    background-color: ghostwhite;
    text-align: center;
}

p {
    font-size: 150%;
    font-weight: bold;
}

#map {
    width: 80%;
    height: 750px;
}


#btn_id1{
    text-align: right;
    margin-bottom: 0.5em;
}

.col-xs-7{
    text-align: right;

}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: ghostwhite;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: hsla(200, 1%, 56%, 0.486);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

#head_text{
  color : ghostwhite;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: ghostwhite;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}


#example {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#example th,
#example td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#example th {
  background-color: #f2f2f2;
  color: #444;
}

#example tr:nth-child(even) {
  background-color: #f9f9f9;
}
#example tr:nth-child(odd) {
  background-color: #dddddd;
}












.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  margin-top: 10px;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #eff0f1, #1d1d1d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #F8F8FF;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}








@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');





.button {
  position: relative;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: var(--color);

  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.button:hover {
  color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
  cursor: pointer;

}



.button::before {
  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
  
}

.button:hover::before {
 
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
  
}

.button:hover span {
  opacity: 0;
  transition-delay: 0s;
  
}

.button span:nth-child(1),
.button span:nth-child(3) {
  width: 40px;
  height: 4px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateX(0);
}

.button span:nth-child(2),
.button span:nth-child(4) {
  width: 4px;
  height: 40px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateY(0);
}

.button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}

.button:hover span:nth-child(1) {
  left: 50%;
}

.button span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}

.button:hover span:nth-child(3) {
  right: 50%;
}

.button span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}

.button:hover span:nth-child(2) {
  top: 50%;
}

.button span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.button:hover span:nth-child(4 ) {
  bottom: 50%;
}


.container{
  text-align: center;
  justify-content: center;
}

.container1{
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
  justify-content: center;
}